// _botones.scss (_ Indica que se importara en otro archivo)

// Importando archivo _custom.scss (Use compila el archivo)
@use "../custom" as *;

.btn-header {
  // Invocando funcion button-variant (Bg, Border, Color Texto, Hover...)
  @include button-variant(
    $primary,
    transparent,
    $secondary,
    darken($primary, 10%),
    transparent,
    darken($secondary, 10%)
  );

  @include button-size(2rem, 5rem, 2rem, 0);

  font-weight: 700;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-top: 1rem;

  // Media que se aplica a partir de md
  @include media-breakpoint-up(md) {
    display: inline-block;
  }
}

.btn-plan {
  // Hereando todo el css de btn-header
  @extend .btn-header;
  border: 1px solid $white;

  @include button-size(2rem, 3rem, 2rem, 0);

  // Media que se aplica a partir de md
  @include media-breakpoint-up(md) {
    display: block;
  }
}
