// _mixins.scss (_ Indica que se importara en otro archivo)
// Mixins son funciones

// Importando archivo _custom.scss (Use compila el archivo)
@use "../custom" as *;

// Funcion imagen de fondo
@mixin bgImage($url, $color) {
  background-image: linear-gradient(
      transparentize($color, 0.3%) 0%,
      $color 100%
    ),
    url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

// Funcion para iconos
@mixin bgIcon($url) {
  background-image: url($url);
  background-size: 10rem;
  // 50% para centrar horizontalmente y 2 rem de espacio en vertical
  background-position: 50% 2rem;
  background-repeat: no-repeat;
}

// Funcion para los h2
@mixin headingBorder($colorText, $colorBorder) {
  color: $colorText;
  // El texto toma el tamaño que necesite
  display: inline-block;
  margin-top: 5rem;

  @include media-breakpoint-up(md) {
    margin-top: 0;
  }

  // Pseudo selector para el borde
  &::after {
    content: "";
    height: 1rem;
    width: 100%;
    background-color: $colorBorder;
    display: block;
    margin: -1.4rem 0 0 0;
  }
}
